
/*按钮*/
.like-btn {
    display: inline-block;
    width: 64px;
    height: 26px;
    line-height: 26px;
    border-radius: 13px;
    margin-right: 10px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #707070;
    box-sizing: border-box;
    cursor: pointer;
 }
 .like-btn:last-child {
     margin-right: 0;
 }
 .like-btn.big {
    width: 90px;
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    margin-right: 34px;
    font-size: 16px;
 }
 .like-btn.big:last-child {
    margin-right: 0;
}
 .like-btn.active {
    background-color: #98D6D5;
    color: #fff;
    border: none;
 }